.Prebook__container {
  display: flex;
  width: 95vw;
  height: 100vh;
  overflow: hidden;
}

.heading__form {
  margin-left: 150px;
}

.prebook__pagetitle {
  margin-left: 100px;
  width: 80%;
  height: 10vh;
  border: 1px solid blue;
}

.inputfields {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 40px;
  padding: 20px;
  width: 100%;
  margin: 100px;
  width: 70vw;
}

.date__time {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .Prebook__container {
    display: flex;
    width: 95vw;
    height: 100vh;
    overflow: scroll;
    margin: 0 auto;
  }

  .prebook__pagetitle {
    margin-left: 18px;
    width: 85%;
  }

  .inputfields {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 40px;
    padding: 20px;
    width: 100%;
    margin: 0px;
  }
  .heading__form {
    margin: 0 auto;
  }
}
